[Unit]
Description=Apache Zookeeper server (Kafka)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ kafka.home }}/bin/zookeeper-server-start.sh {{ kafka.home }}/config/zookeeper.properties
ExecStop={{ kafka.home }}/bin/zookeeper-server-stop.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
